body {
    background-color: rgb(210, 210, 210);
    text-align: center;
}
.image {
    position: fixed;
    top: 25%;
    left: 25%;
    right: 25%;
}
a {
    position: absolute;
    bottom: 50px;
    left: 25%;
    right: 25%;
}
h1 {
    font-family: Times, 'Times New Roman', serif;
    margin-top: 40px;
    color: rgb(38, 82, 232);
}